# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Virtual environments
venv/
env/
.env
.venv

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Generated ML files
ml/gridsense_model.pkl
ml/power_quality_data.csv

# Jupyter
.ipynb_checkpoints/
